{% extends "djbooks/layout.html" %}
{% block title %}
Authorlist
{% endblock %}

{% block content %}

<h2>Author list</h2>
<div class="w3-container w3-center">
    {% if msg %}
    <div class="w3-panel w3-pale-green w3-display-container" id='message'>
        <span onclick="this.parentElement.style.display='none'"
            class="w3-button w3-large w3-display-topright">&times;</span>
        <h3>Success!</h3>
        <p>{{ msg }}</p>
    </div>
    <script>
        setTimeout(function () { document.getElementById('message').style.display = 'none'; }, 3000);
    </script>
    {% endif %}
    <ul class="w3-ul w3-border">
        {% for a in authors_queryset %}
        {% ifchanged a.name.0 %}
        <b><mark>
                <h2>{{ a.name.0}}</h2>
            </mark></b>
        {% for ath in authors_queryset %}
        {% if a.name.0 == ath.name.0 %}
        <li>
            <h3>{{ ath.name }}</h3>
        </li>
        {%endif%}
        {% endfor %}
        {% endifchanged %}
        {% endfor %}
    </ul>
</div>

{% endblock %}