{% extends "djbooks/layout.html" %}
{% block title %}
Information
{% endblock %}

{% block content %}

<h3>Имя - <i>{{pub_inf.name}}</i></h3>
<h3>Адрес - <i>{{pub_inf.address}}</i></h3>
<h3>Город - <i>{{pub_inf.city}}</i></h3>
<h3>Страна - <i>{{pub_inf.country}}</i></h3>
<h3>Вебсайт - <i>{{pub_inf.website}}</i></h3>
<div class="w3-container w3-center ">
    <ul class="w3-ul w3-border ">
        {% for book in pub_inf.book_set.all %}
        <li><a href="{% url 'book'  book.id %}">Книга <h3>{{book.title }}</h3></a></li>
        {% endfor %}
    </ul>

    {% endblock %}